body { background-color: #0e1428; }
blockquote { font-size: 1.2em; margin-top: 0.2em; }
p { color: #7b9e89; font-size: 1.2em; }
a { color: #f18805; }
h1 { font-family: 'Alegreya SC', serif; color: #fff; font-size: 3em; }
h3 { 
	font-family: 'Alegreya', serif;
	font-style: italic; 
	color: #7b9e89; 
	font-size: 2em;
	margin-bottom: 1em;
}
.card { 
	padding-top: 1em;
	margin-top: 1em;
	background: none;
	background-color: none;
	border: 2px solid #7b9e89;
	text-align: center;
	width: 100%;
}
.container{ 
	background-color: none;
}
.card-img-top { margin-bottom: 2em; }
.map-card { background-color: #fff; padding: 5px; }
.map-card .card-img-top { margin: 0 0 4px; }
.btn-link { background-color: rgb(156,192,170); }
.row .btn { margin: 0.5em; }
.btn { width: 100%; border: none; min-height: 40px; font-size: 1.5em; }
.btn-primary { background-color: #d95d39; text-align: center; color: #fff; border: none; }
.btn-secondary { background-color: #f18805; text-align: center; color: #fff; border: none; }
.btn:hover, a.btn:hover { background-color: #f0a202; }

/* --- Accordian Styles --- */
.accordian-heading a.btn { 
	width: 100%;
	display: block;
	text-align: center;
	background: #ddd url('/static/images/bg-btn.png') bottom repeat-x;
	color: #333;
	border-radius: 0;
	font-weight: bold;
	margin: 0;
	border-top: 1px solid #ccc;
}
.accordian-heading a.btn:hover {
   background-color: #999;
   background-image: none;
   cursor: pointer;
}   
.accordian-body {
	background-color: #eee;
	text-align: left;
	padding: 5px;
	border-top: 1px solid #fff;
	color: #666;
}
.accordian-body a.btn {
	margin: 0;
	background-color: #f18805;
	color: #fff;
}
.accordian-body .btn:hover { background-color: #f0a202; }

/* --- Form Styles --- */
.form-group label {
	color: #fff;
}
.form-group select {
	min-height: 40px;
}
.form-group .btn {
	margin: 0;
}
.form-group a {
	margin-top: 0.2em;
}
.form-group a:hover {
	background-color: none;
	color: #f18805;
}
