{% extends 'layout.html' %}

{% block content %}
<div class="row">
	<div class="col-md-12">
		<div class="card">
			<img class="card-img-top" src="{{ url_for('static', filename='images/dna.png') }}" alt="Card image cap">
			<div class="card-body">
				<div class="card-text">
					<h1>The Genome Code</h1>
					<h3>Those who succeed owe their success to perseverance.</h3>
					<p>Are you sure you want to leave the game?</p>
					<div class="row">
						<a href="{{ url_for('score', pin=pin) }}" class="btn btn-primary" role="button">Exit game</a>
					</div>
					<div class="row">
						<a href="{{ url_for('join', pin=pin, resume=1) }}" class="btn btn-secondary" role="button">Resume game</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
