{% extends 'layout.html' %}

{% block content %}
<div class="row">
	<div class="col-lg-4"></div>
	<div class="col-lg-4">
		<div class="card">
			<img class="card-img-top" src="{{ url_for('static', filename='images/dna.png') }}" alt="Card image cap">
			<div class="card-body">
				<div class="card-text">
					<h1>Welcome</h1>
					<h3>Life is a mystery...but for how long?</h3>
				</div>
			</div>
		</div>
		<div class="card map-card">
			<img class="card-img-top" src="{{ url_for('static', filename='images/ground-floor.png') }}" alt="ground floor map">
			<div id="gf-accordion">
				{% for room in gf_rooms %}
				<div class="accordian-heading" id="headingAG33">
					<a class="btn" data-toggle="collapse" data-target="#{{ room.number }}" aria-expanded="false" aria-controls="{{ room.number }}">{{ room.number }}</a>
				</div>
				<div id="{{ room.number }}" class="collapse" aria-labelledby="{{ room.number }}" data-parent="#accordion">
					<div class="accordian-body">
						<p>{{ room.clue }}</p>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="card map-card">
			<img class="card-img-top" src="{{ url_for('static', filename='images/first-floor.png') }}" alt="first floor map">
			<div id="ff-accordion">
				{% for room in ff_rooms %}
				<div class="accordian-heading" id="headingAG33">
					<a class="btn" data-toggle="collapse" data-target="#{{ room.number }}" aria-expanded="false" aria-controls="{{ room.number }}">{{ room.number }}</a>
				</div>
				<div id="{{ room.number }}" class="collapse" aria-labelledby="{{ room.number }}" data-parent="#accordion">
					<div class="accordian-body">
						<p>{{ room.clue }}</p>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="col-lg-4"></div>
</div>

{% endblock %}
