<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/gt-custom.css') }}" rel="stylesheet">
		<title>{{ page }}</title>
	</head>
	<body>
		<div class="container">
			<h1>Hi <strong>Betsy</strong>, welcome back to Genome Tech DB</h1>
			<p>Your DNA datasets are listed below.</p>
			<div class="row">
				<div class="col-md-8">
					<h3>UK Crim 2019</h3>
					<p>Sample of raw data:</p>
					<table class="table">
						<thead><tr>
							<th>Sample</th>
							<th>Sex</th>
							<th>Chromosome</th>
							<th>Position</th>
							<th>Allele 1</th>
							<th>Allele 2</th></tr>
						</thead>
						<tbody>
							<tr><td>HG00512</td>
							<td>Male</td>
							<td>1</td>
							<td>72017</td>
							<td>A</td>
							<td>A</td></tr>
							<tr><td>HG00701</td>
							<td>Female</td>
							<td>1</td>
							<td>742429</td>
							<td>A</td>
							<td>A</td></tr>
							<tr><td>NA18525</td>
							<td>Female</td>
							<td>1</td>
							<td>742584</td>
							<td>G</td>
							<td>G</td></tr>
							<tr><td>NA90918</td>
							<td>Male</td>
							<td>1</td>
							<td>766409</td>
							<td>G</td>
							<td>G</td></tr>
						</tbody>
					</table>
				</div>
				<div class="col-md-4">
					<form action="{{ url_for('phys_encrypt_index') }}" method="POST">
					    <input type="number" name="encrypt_key" placeholder="insert your key">
						<input type="submit" class="btn btn-primary" name="action" value="encrypt data">	
					</form>
					{% if errs is defined %}
		            <p class="err">Encryption failed! Please insert a valid key.</p>
		            <ul>
			            {% for err in errs %}
			                <li class="err">{{ err }} not recognised</li>
			            {% endfor %}
		            </ul>
		            {% endif %}
				</div>
			</div>
		</div>
	</body>
</html>

