<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/gt-custom.css') }}" rel="stylesheet">
		<title>{{ page }}</title>
	</head>
	<body>
		<nav class="container">
			<form action="{{ url_for('desktop_hackers_submit') }}" method="POST">
				<input type="submit" class="btn btn-primary" name="action" value="report problem">
				<input type="submit" class="btn btn-secondary" name="action" value="reset password">
			</form>
		</nav>
		<div class="container">
			<h1>Hi <strong>Betsy</strong>, welcome back to Genome Tech DB</h1>
			<p>Your DNA datasets are listed below. Please note that your cipher key is required to display the unencrypted data.</p>
			<div class="row">
				<div class="col-md-8">
					<h3>UK Crim 2019</h3>
					<p>Sample of raw data:</p>
					<table class="table">
						<thead>
							<tr>
							{% for i in range(5) %}
							<th>{{data_list[i]}}</th>
							{% endfor %}
							</tr>
						</thead>
						<tbody>
							{% for i in range(1,4) %}
							<tr>
								{% for j in range(5) %}
								<td>{{data_list[i*5+j]}}</td>
								{% endfor %}
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="col-md-4">
					{% if success is defined %}
						<form action="{{ url_for('desktop_hackers_submit') }}" method="POST">
							<input type="submit" class="btn btn-primary" name="action" value="delete data">
							<input type="submit" class="btn btn-secondary" name="action" value="publish data">
						</form>
					{% else %}
						<form id="decrypt-form" action="{{ url_for('phys_encrypt_index') }}" method="POST">
							<input type="text" name="decrypt_key" placeholder="Insert your key">
							<button type="submit" class="btn btn-primary" name="action">decrypt data</button>
						</form>
						{% if err is defined %}
						<p class="err">{{ err }}</p>
						{% endif %}
					{% endif %}
				</div>
			</div>
		</div>
	</body>
</html>

