{% extends 'layout.html' %}

{% block content %}
<div class="row">
	<div class="col-lg-3"></div>
	<div class="col-lg-6">
		<div class="card">
			<img class="card-img-top" src="{{ url_for('static', filename='images/dna.png') }}" alt="Card image cap">
			<div class="card-body">
				<div class="card-text">
					<h1>The Genome Code</h1>
					<h3>Things are getting interesting...</h3>
					<p>Your response to the task has been recorded.</p>
					<a class="btn btn-primary" href="{{ url_for('index', pin=pin) }}">Continue</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3"></div>
</div>

{% endblock %}
