
		<!--
		<div class="card map-card">
			<h3>First floor</h3>
			<img class="card-img-top" src="{{ url_for('static', filename='images/first-floor.png') }}" alt="first floor map">
			<div id="ff-accordion">
				<div class="accordian-heading" id="headingAG33">
					<a class="btn" data-toggle="collapse" data-target="#{{ room.number }}" aria-expanded="false" aria-controls="{{ room.number }}">{{ room.number }}</a>
				</div>
				<div id="{{ room.number }}" class="collapse" aria-labelledby="{{ room.number }}" data-parent="#ff-accordion">
					<div class="accordian-body">
						<blockquote>{{ room.clue_text }}</blockquote>
						<p class="author">- {{ room.clue_author }}</p>
						<a href="{{ url_for( 'task', task=room.task_name, pin=pin ) }}" class="btn btn-seconday">Take task</a>
					</div>
				</div>
			</div>
		</div>-->
